{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario">

    {% if "valido" in request.GET %}

        <p>Informacion enviada correctamente, gracias</p>

    {% endif%}
    
    <form action="" method="POST" style="text-align : center">
        {% csrf_token %}
        <table  style="color: white; margin: 20px auto;">{{miFromulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width: 25%;">

    </form>    
</div>

<p style="color:white;">{{request.POST}}</p>

{% endblock %}